@font-face {
  font-family: OpenSans-Bold;
  src: url('../fonts/OpenSans-Bold.woff');
  font-weight: bold;
}

@font-face {
  font-family: OpenSans-Regular;
  src: url('../fonts/OpenSans-Regular.woff');
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  margin: auto;
  background-image: url('../images/banner-bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
}

.header::before {
  content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
  background-color:rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.menu {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;  
  align-items: end;
  position: relative;
}

.logo {
  width: 180px;
  margin-top: 29px;
  display: block;
}

.menu-items-list {
  position: relative;
  padding: 0;
  display: flex;
}

.menu-item {
  list-style-type: none;
  display: inline-block;
  margin-left: 31px;
}

.item-link {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  list-style-type: none;
}

.item-link:hover {
  text-decoration: underline;
}

.title-name {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 45px;
  line-height: 1.6;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  margin: 0;
  
  max-width: 688px;
  padding: 103px 0 135px 256px;
  text-align: center;
}

.trends {
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  margin-top: 57px;
  font-size: 20px;
}

.trends-title {
  font-size: 1em;
  color: #000000;
  position: relative;
  text-align: center;
  margin-bottom: 44px;
}

.trends-title::after {
  content: '';
  position: absolute;
  top: 35px;
  left: 48%;
  right: 0;
  bottom: 0;
  border-bottom: 3px solid #e1d9bd;
  width: 66px;
} 

.trends-list {
  width: 100vw;
  display: flex;
}

.trends-item {
  width: 25%;
  min-height: 318px;
  position: relative;
  margin-right: 4px;
  padding-left: 18px;
  padding-bottom: 16px;
  padding-right: 22px;

  display: flex;
  align-items: flex-end;
}

.item-garden {
  background-image: url('../images/trend1.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #eff6f1;
}

.trends-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.trends-description {
  border: 3px solid rgba(181, 159, 91, 0.6);
  position: relative;
  padding: 37px 0 36px 31px;
}

.trends-categories{
  padding: 0;
  margin: 0;
}

.trends-category {
  list-style-type: none;
  display: inline-block;
  margin-right: 18px;
}

.trends-category-link {
  font-size: 0.7em;
  color: #b59f5b;
  text-decoration: none;
}

.trends-category-link:hover {
  text-decoration: underline;
}

.trends-item-title {
  margin-top: 8px;
  margin-bottom: 0;
}

.trends-item-link {
  display: inline-block;
  font-size: 1em;
  line-height: 1.2;
  color: #fff;
  text-decoration: none;
}

.trends-item-link:hover {
  color: #b59f5b;
}

.item-cheese {
  background-image: url('../images/trend2.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #eff6f1;
}

.item-mountains {
  background-image: url('../images/trend3.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #eff6f1;
}

.item-vitamins {
  background-image: url('../images/trend4.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #eff6f1;
  margin-right: 0;
}

.content {
  display: flex;
  margin-top: 64px;
  padding-left: 15px;
  padding-right: 15px;
}

.post-list {
  width: 65%;
  font-size: 20px;
}


.news {
  width: 100%;
  display: flex;
  margin-bottom: 61px;
}

.news-picture {
  width: 381px;
  height: 294px;
  background-color: #eff6f1;
  background-size: auto;
  background-position: center center;
}

.news-post {
  width: 367px;
  margin-left: 30px;
}

.categories {
  padding: 0 0 9px 0;
  margin: 0;
}

.category {
  display: inline-block;
  list-style-type: none;
  padding-right: 16px;
}

.category-name {
  text-decoration: none;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
  color: #b59f5b;
  text-shadow: 1px 1px 2px rgba(181, 159, 91, 0,5);
}

.category-name:hover {
  text-decoration: underline;
  text-shadow: 1px 1px 2px rgba(181, 159, 91, 1)
}


.news-title {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 1em;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.news-title-name {
  text-decoration: none;
  color: #0f0d0e;
}

.news-title-name:hover {
  color: #b59f5b;
}

.subtext {
  margin-top: 22px;
  margin-bottom: 45px;
  font-size: 0.6em;
}

.subtext-date {
  font-family: OpenSans-Regular, sans-serif;
  color: #b8b8b8;
  padding-right: 13px;
}

.subtext-author {
  font-family: OpenSans-Bold;
  color: #0f0d0e;
}

.news-content {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 0.75em;
  line-height: 1.5;
}

.latest-news {
  margin-left: 120px;
  padding-right: 15px;
  width: 271px;
  font-size: 14px;  
}

.column-title {
  width: 237px;
  text-align: center;
  padding-left: 22px;
  margin: 0 0 40px 0;
  position: relative;
}

.column-title-link {
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.column-title-link:hover {
  color: #b59f5b;
}

.column-title::after {
  content: '';
  position: absolute;
  top: 31px;
	left: 108px;
  right: 0;
	bottom: 0;
  border-bottom: 3px solid #e1d9bd;
  width: 66px;
} 

.latest-post {
  display: flex;
  width: 100%;
  margin-bottom: 18px;
}

.latest-post-picture {
  width: 71px;
  max-height: 71px;
  background-color: #eff6f1;
  background-size: auto;
  background-repeat: no-repat;
  background-position: center center;
}

.latest-post-content {
  margin: 0 0 0 18px;
  width: 184px;
}

.above-text {
  margin: 0 0 7px 0;
  padding: 0;
  line-height: 0.5;
}

.above-text-date {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 12px;
  color: #878787;
  padding: 0;
}

.latest-post-title {
  width: 100%;
  font-family: OpenSan-Bold, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.2;
}

.latest-post-link {
  text-decoration: none;
  color: #000;
}

.latest-post-link:hover {
  color: #b59f5b;
}

.search {
  width: 100%;
  margin-top: 57px;
  padding: 0;
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} 

.search-field {
  width: 222px;
  min-height: 48px;
  padding-left: 17px;
  padding-right: 10px;
  background-color: #f4f7f6;
  border: 0px;
  font-size: 13px;
  font-family: OpenSans-Regular, sans-serif;
  color: #818382;
}

.search-field:focus {
  outline: 1px solid #b59f5b;
}

.search-image {
  width: 46px;
  height: 48px;
  padding: 0;
  border: 0;
  background-color: #b59f5b;
  background-image: url('../svg/search.svg');
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: center center;
}

.search-image:hover {
  background-color: #323232;
}

.subscribe {
  margin-top: 57px;
}

.email {
  width: 100%;
  padding: 0;
}

.email-field {
  width: 100%;
  min-height: 48px;
  padding-left: 17px;
  padding-right: 10px;
  background-color: #f4f7f6;
  border: 0px;
  font-size: 13px;
  font-family: OpenSans-Regular, sans-serif;
  color: #818382;
  box-sizing: border-box;
}

.email-field:focus {
  outline: 1px solid #b59f5b;
}

.email-subscribe {
  width: 100%;
  height: 48px;
  padding: 0;
  border: 1px solid #e6dfc8;
  background-color: #b59f5b;
  margin-top: 17px;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}

.email-subscribe:hover {
  background-color: #323232;
  }

.tags {
  margin-top: 43px;
  margin-bottom: 45px;
}

.tags-list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.tags-name {
  list-style-type: none;
}

.tags-name-link {
  display: block;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #0f0d0e;
  border: 3px solid #eeeeee;
  margin: 6px 5px 0 0;
  padding: 3px 13px;
}

.tags-name-link:hover {
  -webkit-text-stroke: 0.7px #000;
  border: 3px solid #b59f5b; 
}

.topics {
  margin-top: 59px;
}

.topics-all {
  width: 100%;
}

.topics-list {
  margin: 0;
  padding: 0;
}

.topics-name {
  list-style-type: none;
  
}

.topics-link {
  text-decoration: none;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 14px;
  color: #000000;
  display: block;
  margin-bottom: 30px;
  position: relative;
}

.topics-link:hover {
  color: #b59f5b;
}

.topics-link::after {
  content: '';
  position: absolute;
  top: 37px;
	left: 0;
  right: 0;
	bottom: 0;
  border-bottom: 1px solid #eeeeee;
}

.topics-name-number {
  vertical-align: super;
  color: #b59f5b;
  font-size: 12px;
  font-family: OpenSans-Bold;
}

.shop {
  font-size: 20px;
}

.shop-title {
  font-family: OpenSans-Bold;
  text-transform: uppercase;
  font-size: 1em;
  color: #000000;
  position: relative;
  text-align: center;
  margin: 0 0 44px 0;
}

.shop-title::after {
  content: '';
  position: absolute;
  top: 35px;
  left: 47%;
  right: 0;
  bottom: 0;
  border-bottom: 3px solid #e1d9bd;
  width: 66px;
}

.shop-list {
  display: flex;
  margin: 0 15px 64px;
}

.shop-card {
  width: 33,3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 70px;
  box-sizing: border-box;
}

.shop-card-special {
  margin-right: 0;
}

.shop-card-image {
  background-color: #eff6f1;
  max-height: 205px; 
}

.product-description {
  border: 3px solid rgba(181, 159, 91, 0.6);
  padding: 55px 20px 24px;
  margin-top: -30px;
  flex-grow: 1;
  width: 100%;
}

.shop-card-title {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  margin: 0 0 14px 0;
}

.shop-card-description {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 0.75em;
  line-height: 1.47;
  margin: 0;
}

.shop-card-link {
  text-decoration: none;
  color: #baa566;
}

.shop-card-link:hover {
  text-decoration: underline;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.product-price {
  align-self: flex-end;
  padding-bottom: 8px;
}

.product-price-old {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 0.7em;
  text-decoration: line-through;
  display: block;
}

.product-price-new {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 1em;
  display: block;
  line-height: 0.9;
}


.product-button {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 0.7em;
  text-transform: uppercase;
  color: #fff;
  border: 0;
  background-color: #b59f5b;
  padding: 18px 28px;
}

.product-button:hover {
  background-color: #000;
}

.social-contacts {
  background-color: #f4f7f6;
  background-size: 1170px;
  
  padding: 30px 0;
  margin: 0 15px;
  display: flex;
  justify-content: center;
}

.social-icon-item {
  list-style-type: none;
  display: inline-block;
}

.social-icon {
  display: block;
  width: 21px;
  height: 21px;
}

.social-icon-dribble {
  background-image: url('../svg/001-dribbble.svg');
  margin-right: 25px;
}

.social-icon-pinterest {
  background-image: url('../svg/002-pinterest.svg');
  margin-right: 25px;
}

.social-icon-tumblr {
  background-image: url('../svg/003-tumblr.svg');
}

.rights {
  margin-top: 73px;
  margin-bottom: 40px;
}

.rights-name {
  display: block;
  margin: 0;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 12px;
  color: #adadad;
  text-align: center;
}

.popup {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.feedback {
  width: 390px;
  background-color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  position: relative;
}

.feedback-title {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  margin-bottom: 37px;
  margin-top: 52px;
}

.feedback-title::after {
  content: '';
  position: absolute;
  top: 35px;
  left: 40%;
  right: 0;
  bottom: 0;
  border-bottom: 3px solid #e1d9bd;
  width: 66px;
}

.forms {
  font-family: OpenSans-Regular, sans-serif;
  font-size: 13px;
}

.frequency-text {
  display: flex;
}

.frequency-options {
  background-color: #f4f7f6;
  border: 0;
  width: 100%;
  padding: 17px 12px 17px 17px;
  margin-top: 10px;

  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url('../svg/form-arrows.svg');
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 8px 17px;
}

.frequency-options:focus {
  outline: 1px solid #b59f5b;
}

.mailing {
  margin-top: 32px;
  margin-bottom: 32px;
}

.mailing-radio {
  display: none;
}

.choise-decision {
  margin-top: 10px;
}

.radio-group-text::before {
  content: "";
  display: inline-block;

  width: 18px;
  height: 18px;

  background-image: url('../svg/form-empty-circle.svg');
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;

  vertical-align: middle;
  margin-right: 4px;
}

.mailing-radio:checked ~ .radio-group-text::before {
  background-image: url('../svg/form-circle.svg');
}

.radio-agree {
  margin-right: 18px;
}

.feedback-content {
  display: flex;
  flex-direction: column;
}

.feedback-content-field {
  box-sizing: border-box;
  margin-top: 10px;
  background-color: #f4f7f6;
  padding: 20px;
  width: 330px;
  height: 130px;
  border: 0;
}

.feedback-content-field:focus {
  outline: 1px solid #b59f5b;
}

.feedback-answer {
  font-family: OpenSans-Bold, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  background-color: #b59f5b;
  width: 100%;
  border: 0;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-top: 26px;
  margin-bottom: 53px;
}

.feedback-answer:hover {
  background-color: #000;
}

.popup-close {
  background-image: url('..//svg/form-x.svg');
  background-color: transparent;
  border: 0;
  font-size: 18px;
  width: 1em;
  height: 1em;
  position: absolute;
  top: -1.45em;
  right: 0;
}

@media (min-width: 1200px) {
  .menu__button {
    display: none;
  }
}

@media (min-width: 641px) and (max-width: 1199px) {

  .header {
    margin: 0;
    width: 100%;
    display: flex;
    background-image: url('../images/banner-bg-tablet.jpg');
  }

  .container {
    padding-right: 35px;
    padding-left: 35px;
  }

  .menu {
    padding: 0;
    align-items: center;
  }

  .logo {
    width: 160px;
    margin: 0;
    margin-top: 42px;
  }

  .menu__button {
    width: 23px;
    height: 20px;
    border: none;
    padding: 0;
    background-color: transparent;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
    margin-top: 42px;
}

.menu__button:before {
    content: "";
    width: 100%;
    height: 15%;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
  }

  .menu__button:after {
    content: "";
    width: 100%;
    height: 15%;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 1px;
  }

  .menu__button-label {
    width: 100%;
    height: 15%;
    margin-top: -2px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
  }

  .menu-items {
    display: none;
  }

.title-name {
  font-size: 40px;
  line-height: 1.4;
  
  margin: 0;
  padding: 95px 39px 120px 45px;
}

.trends {
  margin-top: 44px;
  font-size: 18px;
}

.trends-title {
  margin-bottom: 35px;
}

.trends-title::after {
  content: '';
  left: 47%;
} 

.trends-list {
  width: 100%;
  flex-wrap: wrap;
}

.trends-item {
  width: calc(50% - 2px);
  min-height: 247px;
  padding-bottom: 14px;
  padding-right: 20px;
  box-sizing: border-box;

}

.trends-description {
  padding: 34px 10px 33px 31px;
}

.trends-category-link {
  font-size: 0.78em;
}

.trends-item-title {
  margin-top: 12px;
  margin-bottom: 0;
}

.trends-item-link {
  font-size: 17px;
  line-height: 1.3;
}

.item-cheese {
  margin: 0;
}

.item-mountains {
  margin-top: 4px;
}

.item-vitamins {
  margin-top: 4px;
}

.content {
  margin-top: 49px;
  padding: 0;
}

.post-list {
  width: 55%;
  font-size: 17px;
}

.news {
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.news-picture {
  width: 100%;
}

.news-post {
  margin-left: 0;
  margin-top: 15px;
  width: 100%;
  
}

.categories {
  padding: 0 0 15px 0;
}

.category {
  padding-right: 18px;
}

.category-name {
  font-size: 1em;
}

.news-title {
  font-size: 1em;
  line-height: 1.3;
}

.subtext {
  margin: 35px 0;
  font-size: 0.7em;
}

.news-content {
  font-size: 15px;
  line-height: 1.46;
  margin-bottom: 16px;
}

.news-divide {
  border-bottom: 3px solid #eeeeee;
  width: 100%;
}

.latest-news {
  margin-left: 35px;
  font-size: 14px;  
}

.column-title {
  width: 100%;
  padding: 0;
  margin: 0 0 45px 0;
}

.column-title-link {
  font-size: 14px;
}

.latest-post {
  margin-bottom: 21px;
}

.above-text {
  margin: 0 0 10px 0;
}

.tags {
  margin-top: 60px;
  margin-bottom: 35px;
}

.tags-name-link {
  padding: 6px 13px;
}

.shop {
  font-size: 18px;
}

.shop-title::after {
  content: '';
  left: 45%;
}

.shop-list {
  flex-wrap: wrap;
  margin: 0;
}

.shop-card {
  box-sizing: border-box;
  width: calc(50% - 33px);
  margin-right: 66px;
}

.shop-card-next {
  margin-right: 0;
}

.shop-card-image {
  /*background-color: #eff6f1;*/
  max-height: 225px; 
}

.product-description {
  margin-bottom: 55px;
}

.shop-card-title {
  font-size: 17px;
  margin: 0 0 12px 0;
}

.shop-card-description {
  font-size: 0.83em;
}

.product-price-old {
  font-size: 14px;
}

.product-price-new {;
  font-size: 20px;
}

.product-button {
  font-size: 14px;
}

.social-contacts { 
  margin: 20px 0 0 0;
}

.rights {
  margin-top: 50px;
  margin-bottom: 35px;
}

.feedback-title {
  font-size: 18px;
}

.radio-group-text::before {
  content: "";
  width: 27px;
  height: 27px;
  background-size: 27px;
}

.radio-agree {
  margin-right: 32px;
}

.popup-close {
  font-size: 26px;
}
}

@media (max-width: 640px) {

  .header {
  background-image: url('../images/banner-mobile.jpg');
  background-position: top center;
  margin: 0;
  width: 100%;
  display: flex;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
}

.menu {
  flex-direction: column;
  padding: 0;
  align-items: flex-end;
}

.logo {
  width: 270px;
  margin-top: 174px;
  order: 2;
  align-self: center;
}

.menu__button {
    width: 23px;
    height: 21px;
    border: none;
    padding: 0;
    background-color: transparent;
    position: relative;
    text-indent: -9999px;
    cursor: pointer;
    margin-top: 25px;
    order: 1;
}

.menu__button:before {
    content: "";
    width: 100%;
    height: 15%;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 0;
  }

  .menu__button:after {
    content: "";
    width: 100%;
    height: 15%;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 1px;
  }

  .menu__button-label {
    width: 100%;
    height: 15%;
    margin-top: -2px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
  }

  .menu-items {
    display: none;
  }

.title-name {
  font-size: 26px;
  line-height: 1.4;
  padding: 42px 15px 217px 20px;
}

.trends {
  margin-top: 40px;
  font-size: 16px;
}

.trends-title {
  margin-bottom: 36px;
}

.trends-title::after {
  content: '';
  top: 30px;
  left: 44%;
} 

.trends-list {
  width: 100vw;
  flex-wrap: wrap;
}

.trends-item {
  width: 100%;
  min-height: 215px;
  margin-right: 0;
  padding-left: 16px;
  padding-right: 14px;
  box-sizing: border-box;
  margin-top: 4px;
}


.trends-description {
  padding: 31px 10px 36px 20px;
  width: 100%;
}

.trends-category-link {
  font-size: 0.88em;
}

.trends-item-title {
  margin-top: 11px;
}

.trends-item-link {
  font-size: 16px;
  line-height: 1.25;
}

.content {
  flex-wrap: wrap;
  margin-top: 42px;
  padding: 0;
}

.post-list {
  width: 100%;
  font-size: 16px;
}

.news {
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.news-picture {
  width: 100%;
}

.news-post {
  width: 100%;
  margin: 15px 0 22px;
}

.categories {
  padding: 0 0 15px 0;
}

.category {
  padding-right: 20px;
}

.category-name {
  font-size: 0.88em;
}

.news-title {
  line-height: 1.25;
}

.subtext {
  margin-top: 25px;
  margin-bottom: 23px;
  font-size: 0.75em;
}

.news-content {
  font-size: 0.88em;
  line-height: 1.4;
}

.news-divide {
  border-bottom: 3px solid #eeeeee;
  width: 100%;
}

.news-divide-last {
  border-bottom: 3px solid #eeeeee;
  width: 100%;
}

.latest-news {
  margin: 10px 0 0;
  padding: 0;
  width: 100%;
  font-size: 16px;  
}

.column-title {
  width: 100%;
  padding-left: 0;
  margin: 0 0 42px 0;
  font-size: 16px;
}


.column-title::after {
  content: '';
  left: 42%;
} 

.latest-post-content {
  width: 100%;
}

.above-text {
  margin: 0 0 11px 0;
}


.latest-post-title {
  width: 100%;
  font-size: 0.88em;
  line-height: 1.28;
}

.search {
  width: 100%;
  /*justify-content: space-between;*/

}

.search-field {
  width: 100%;
  flex-grow: 1;
}

.subscribe {
  margin-top: 44px;
}

.tags-name-link {
  padding: 7px 11px;
}

.topics {
  margin-top: 43px;
}

.shop {
  font-size: 16px;
  margin-top: 43px;
}

.shop-title::after {
  content: '';
  left: 42%; 
}

.shop-list {
  flex-wrap: wrap;
  margin: 0;
}

.shop-card {
  width: 100%;
  margin-bottom: 25px;
  margin-right: 0;
}

.shop-card-image {
  max-height: 285px; 
}

.shop-card-title {
  font-size: 17px;
}

.shop-card-description {
  font-size: 0.94em;
}

.product-price-old {
  font-size: 0.875em;
}

.product-price-new {
  font-size: 1.25em;
}

.product-button {
  font-size: 0.875em;
}

.social-contacts { 
  margin: 17px 0 0;
}

.rights {
  margin-top: 47px;
  margin-bottom: 47px;
}

.feedback {
  box-sizing: border-box;
  max-width: 330px;
  padding-left: 23px;
  padding-right: 23px;
  margin-left: 20px;
  margin-right: 20px;
}

.feedback-title {
  font-size: 16px;
  margin-bottom: 45px;
  margin-top: 30px;
}

.feedback-title::after {
  content: '';
  top: 30px;
  left: 37%;
}

.frequency-options {
  padding: 18px 20px 18px;
  background-position: right 14px center;
}

.choise-decision {
  margin-top: 10px;
}

.radio-group-text::before {
  content: "";
  width: 27px;
  height: 27px;
  background-size: 27px;
}

.radio-agree {
  margin-right: 34px;
}

.feedback-content-field {
  padding: 20px;
  width: 100%;
}

.feedback-answer {
 
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

.popup-close {
  font-size: 27px;
}

}




